.header {
  max-width: 1230px;
  margin: 0 auto;
  padding: 40px 0 60px;

  &_wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &_logo {
      max-width: 130px;
    }

    &_nav {

      &-bar {
        display: flex;
        font-size: 1.5rem;
        font-weight: bold;
      }

      &-link {
        text-decoration: none;
        color:$color-text-primary;
        position: relative;


        &:after {
          content: '';
          position: absolute;
          width: 5px;
          height: 5px;
          border-radius: 50%;
          top: 0;
          right: -10px;
          transition: all .2s linear;
        }

        &:not(:last-child) {
          margin-right: 25px;
        }

        & svg {
          width: 17px;
          height: 17px;
          fill:$color-text-primary;
          transition: fill .1s linear;

          &:hover {
            fill: $color-orange;
          }
        }

        &:hover:not(:last-child)::after{
          background: grey;
        }
      }
    }
  }
}

.hamburger-lines {
  display: none;
}

@media screen and (max-width: 1366px) {

}

@media screen and (max-width: 1024px) {
  .header {
    max-width: 1000px;
  }
}

@media screen and (max-width: 812px) {
  .header {
    max-width: 790px;


    &_wrap {
      &_nav {
        &-bar {
          font-size: 1.4rem;
        }

        &-link{
          &:not(:last-child) {
            margin-right: 22px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 436px) {
  .header {
    max-width: 390px;
    padding: 30px 5px;
    &_wrap {
      position: relative;
      &_nav {
        &-bar {
          display: none;
        }

        &-link{

        }
      }

      & .hamburger-lines {
        height: 26px;
        width: 32px;
        position: absolute;
        top: 5px;
        right: 5px;
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        & .line {
          display: block;
          height: 4px;
          width: 100%;
          border-radius: 10px;
          background: $color-text-primary;
        }
      }
    }
  }
}







