@mixin filter_styling {
  & a {
    padding: 5px 10px;
    width: fit-content;
    text-transform: uppercase;
    font-size: .7rem;
    font-weight: bold;
    letter-spacing: .2rem;
    border-radius: 15px;
    transition: all .2s linear;
    cursor: pointer;

    &:not(:last-child) {
      margin-right: 7px;
    }
  }
}

@mixin create_cover {
  &:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10;
    top: 0;
    left: 0;
  }
}

@mixin webkit_transition-background-size {
  transition: background-size .1s ease-in;
  -moz-transition: background-size .1s ease-in;
  -ms-transition: background-size .1s ease-in;
  -o-transition: background-size .1s ease-in;
  -webkit-transition: background-size .1s ease-in;
}

@mixin btn-design {
  position: relative;
  color:$color-text-primary;
  font-family: $primary-font;
  text-transform: uppercase;
  border-radius: 16px;
  background-color: $color-orange;
  font-size: 1.3rem;
  font-weight: 700;
  letter-spacing: 2px;
  cursor: pointer;

  & span {
    position: relative;
    z-index: 100;
  }

  &:after {
    border-radius: 14px;
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    background-color: $color-btn;
    top:0;
    left: 0;
    transition: height .1s linear;
  }

  &:hover {
    color: $color-text-secondary;

    &:after {
      height: 0;
    }
  }

}

@mixin navigation-hover-effect {
  &:after {
    position: absolute;
    z-index: -1;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    top: 0;
    right: -10px;
    content: '';
    transition: background .1s linear;
  }

  &:hover {
    &:after {
      background: $color-text-primary;
    }
  }
}


