$primary-color-grey:#252530;

$color-text-primary:#ebebeb;
$color-text-secondary:#333350;

$color-yellow: #debc68;
$color-orange: #ffb469;
$color-orange-dark:#df9f60;

$color-pink: #df8cbf;
$color-pink-dark:#d1a8e0;

$color-purple:#66077c;
$color-blue:#1723d6;

$color-btn: #363643;
$color-btn-active:#ffb469;

$primary-font: 'Mulish', sans-serif;
$secondary-font: 'Corben', serif;
